<% provide(:title, "Picture") %>

<div class="picturepost_show_wrapper pt-5">
  <div class="instacard-container">
    <div class="card mt-5">
      <div class="card-header">        
        <div class="profile-info">
          <div class="name">
            <%= @picturepost.user.username %>
          </div>
        </div>
        <div class="time">
          1h ago
        </div>
      </div>
      <div class="content">
        <%= image_tag @picturepost.picture.url if @picturepost.picture? %>
      </div>
      <div class="card-footer">
        <div class="likes">
          21 likes
        </div>
        <div class="heart">
          ♡
        </div>
        <div class="description">
          <p>
            <span class="username"><%= @picturepost.user.username %></span><%= @picturepost.content %>
          </p>
        </div>
        <hr />

        <div class="comments">
          <% @comments.each do |comment| %>
            <p>
              <span class="username"><%= comment.user.username %></span><%= comment.comment %>
            </p>
          <% end %>
        </div>

        <% if user_signed_in? %>
          <%= form_for [@picturepost, @comment] do |f| %>
            <%= f.text_field :comment %>
            <%= f.submit 'コメントする', class:"btn btn-outline-secondary btn-sm" %>
          <% end%>
        <% end %>

      </div>
    </div>
  </div>

</div>
