<% provide(:title, "Picture") %>

<div class="picturepost_show_wrapper pt-5">
  <div class="instacard-container">
    <div class="card mt-5">
      <div class="card-header">        
        <div class="profile-info">
          <%= link_to user_path(@picturepost.user) do%>
            <div class="name"><%= @picturepost.user.username %></div>
          <% end %>
        </div>
        <% if !current_user?(@picturepost.user) %>
          <% if current_user.following?(@picturepost.user)%>
            <%= form_for(current_user.active_relationships.find_by(followed_id: @picturepost.user.id),
              html: { method: :delete }) do |f| %>
            <%= f.submit "Unfollow", class: "btn btn-outline-secondary btn-sm" %>
            <% end %>
          <% else %>
            <%= form_for(current_user.active_relationships.build) do |f| %>
            <div><%= hidden_field_tag :followed_id, @picturepost.user.id %></div>
            <%= f.submit "Follow", class: "btn btn-outline-secondary btn-sm" %>
            <% end %>
          <% end %>
        <% end %>        
        <div class="time">
          1h ago
        </div>
        <% if current_user?(@picturepost.user) %>
          <%= link_to "削除", picturepost_path, method: :delete, class: "btn btn-outline-secondary btn-sm delete-btn", data: { confirm: "削除しますか?" }%>
        <% end %>
      </div>
      <div class="content">
        <%= image_tag @picturepost.picture.url if @picturepost.picture? %>
      </div>
      <div class="card-footer">
        <%= render partial: 'likes/like', locals: {picturepost: @picturepost} %>
        <div class="description">
          <p>
            <span class="username"><%= @picturepost.user.username %></span><%= @picturepost.content %>
          </p>
        </div>
        <hr />

        <div class="comments">
          <% @comments.each do |comment| %>
            <p>
              <%= link_to user_path(comment.user) do%>
                <span class="username"><%= comment.user.username %></span>
              <% end %>
              <%= comment.comment %>
            </p>
          <% end %>
        </div>

        <% if user_signed_in? %>
          <%= form_for [@picturepost, @comment] do |f| %>
            <%= f.text_field :comment %>
            <%= f.submit 'コメントする', class:"btn btn-outline-secondary btn-sm" %>
          <% end%>
        <% end %>

      </div>
    </div>
  </div>

</div>
