<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <%= link_to "INSTA CLONE", "/", class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">    
      <% if user_signed_in?%>
        <li class="nav-item">
          <%= link_to "Mypage", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link mr-5" %>
        </li>
      <% end %>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </ul>
  </div>
</nav> 

<div class="landing">
  <div class="home-wrap">
    <div class="home-inner">
    </div>
  </div>
</div> 

<div class="caption text-center">
  <h1>Insta Clone</h1>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if user_signed_in?%>
    <%= link_to "写真を投稿", "#", class: "btn btn-outline-light btn-lg" %>
  <% else %>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-light btn-lg mb-3" %><br>
    <%= link_to "Facebookでログイン", "#", class: "btn btn-outline-light btn-lg" %>
  <% end %>
</div>

<div class="instacard-container">
  <div class="card">
    <div class="card-header">        
      <div class="profile-info">
        <div class="name">Takuho Tada</div>
        <div class="location">Tokyo, Japan</div>
      </div>
      <div class="following-btn">
            <%= link_to "フォローする", "#", class: "btn btn-outline-info btn-sm" %>
      </div>
      <div class="time">
        1h ago
      </div>
    </div>
    <div class="content">
      <%= image_tag('sample1.jpg')%>
    </div>
    <div class="card-footer">
      <div class="likes">
        21 likes
      </div>
      <div class="heart">
        ♡
      </div>
      <div class="description">
        <p>
          <span class="username">Takuho Tada</span>Hey just out here in miami beach with the squad
        </p>
      </div>
      <hr />
      <div class="comments">
        <p>
          <span class="username">takuho tada</span>Hey just out here in miami beach with the squad
        </p>
        <p>
          <span class="username">ai</span>Hey just out here in miami beach with the squad
        </p>
      </div>
      <form class="form">
        <div class="add-comment">
          <input type="text" placeholder="Add a comment...">
        </div>
        <div class="options">
        </div>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-header">        
      <div class="profile-info">
        <div class="name">Takuho Tada</div>
        <div class="location">Tokyo, Japan</div>
      </div>
      <div class="time">
        1h ago
      </div>
    </div>
    <div class="content">
      <%= image_tag('sample2.jpg')%>
    </div>
    <div class="card-footer">
      <div class="likes">
        21 likes
      </div>
      <div class="heart">
        ♡
      </div>
      <div class="description">
        <p>
          <span class="username">Takuho Tada</span>Hey just out here in miami beach with the squad
        </p>
      </div>
      <hr />
      <div class="comments">
        <p>
          <span class="username">takuho tada</span>Hey just out here in miami beach with the squad
        </p>
        <p>
          <span class="username">ai</span>Hey just out here in miami beach with the squad
        </p>
      </div>
      <form class="form">
        <div class="add-comment">
          <input type="text" placeholder="Add a comment...">
        </div>
        <div class="options">
        </div>
      </form>
    </div>
  </div>
</div>


<footer>
  <div class="row justify-content-center">
    <div class="col-md-5 text-center">
      <strong>Contact Info</strong>
      <p>888-8888-8888<br>example@gmail.com</p>
      <a href="#"><i class="fab fa-facebook-square"></i></a>
      <a href="#"><i class="fab fa-twitter-square"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>

    <hr class="socket">
    &copy; Insta Clone
  </div>
</footer>
